/* sortable */
.table.sortable tr.ui-sortable-helper {
    background: #e0e0e0;
}

.table.sortable tr.ui-sortable-handle {
    cursor: pointer;
}

.sortable-displayed {
    display: none;
}

.light-sortable-grid .filters-form{
    text-align: right;
    padding-bottom: 10px;
}

.light-sortable-grid .filters-form select {
    padding: 0.25rem 0.25rem;
    font-size: 0.85rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}